/* Align elements to the center */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: radial-gradient(farthest-corner, #F1FAEE, #A8DADC, #457B9D, #1D3557);
    background-color: #1D3557;
    overflow: hidden; /* Prevents the radial gradient from overflowing */
}

#content section {
    text-align: center;
    position: relative;
}

/* Changes size of heading */
#landing-page h1 {
    font-size: 5em;
    font-family: 'Avocade Bold', sans-serif;
    color: #F1FAEE;
    -webkit-text-stroke: 2px #1D3557;
    line-height: 0.75em;
}

#landing-page h1 span {
    color: #E63946;
    -webkit-text-stroke: none;
}

#tutorial-screen {
    position: absolute;
    top: -200px;
    color: #E63946;
    background-color: #f1faeef5;
    border: solid 2px #E63946;
    padding: 25px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
}
#tutorial-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E63946;
    background-color: #f1faeef5;
    border: solid 2px #E63946;
    padding: 25px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure the tutorial box appears on top of the button */
    width: 100%;
}

#tutorial-screen h2 {
    font-family: 'Avocade Bold', sans-serif;
    font-size: 2em;
}
#tutorial-screen p {
    font-family: 'Justy Three', sans-serif;
    font-size: 1.10em;
    text-indent: 5px;
}

#tutorial-exit {
    cursor: pointer;
    position: absolute;
    top: 2.5%;
    right: 5%;
    font-family: 'Avocade Bold', sans-serif;
    font-size: 2em;
    user-select: none;
}

#questions-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F1FAEE;
    background-color: #1D3557;
    border: solid 2px #F1FAEE;
    padding: 15px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure the tutorial box appears on top of the button */
    width: 200%; /* Adjusted the width to 60% of the viewport width */
}

#questions-screen h2 {
    font-family: 'Avocade Bold', sans-serif;
    font-size: 1.5em; /* Increased the font size */
    margin-bottom: 20px; /* Added margin at the bottom for spacing */
}

#questions-screen ul {
    text-align: center; /* Center-align the list items */
    column-width: 300px; /* Split the list into columns */
    max-width: 100%; /* Ensure the list doesn't expand outside the bounds */
    list-style: none;
    padding: 0;
}

#questions-screen button {
    font-size: 1.5em; /* Increased the font size */
    padding: 10px; /* Adjusted padding for better spacing */
    width: 50%; /* Adjusted the width to 50% of the container */
    margin: 10px; /* Added margin for spacing between buttons */
    line-height: 1.5em; /* Adjusted line height for better spacing */
}

#results-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F1FAEE;
    background: radial-gradient(farthest-side, #457B9D, #1D3557);
    border: solid 2px #F1FAEE;
    padding: 15px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001;
    width: 200%; /* Adjusted the width to 60% of the viewport width */
}

/* Button Appearance */

/* Changes appearance for all buttons */
button {
    cursor: pointer;
    font-family: 'Justy Three', sans-serif;
    font-weight: bold;
    border-radius: 1em;
    color: #1D3557;
    background-color: #F1FAEE;
    border: solid 2px #1D3557;
    box-shadow: 1px 2px 5px #1D3557;
}

/* Changes appearance of only the play button */
#play {
    font-size: 2em;
    width: 50%;
    padding: 10px;
    transition: all 0.3s ease;
}

/* Changes appearance of only the tutorial button */

#tutorial-button {
    color: #F1FAEE;
    background-color: #E63946;
    border: solid 2px #F1FAEE;
    box-shadow: 1px 2px 5px #1D3557;
    font-size: 1.5em;
    width: 50%;
    padding: 7px;
    transition: all 0.3s ease;
}

/* Changes appearance of button when mouse hovers over it */
.buttonHover {
    text-shadow: 1px 1px 2px #457B9D;
    transform: scale(1.2);
}

/* Simulates pressing the button */
.buttonClick {
    color: #F1FAEE;
    background-color: #457B9D;
    border: solid 2px #F1FAEE;
    box-shadow: inset 0px 0px 10px #1D3557;
    transform: scale(1);
}

/* Settings Appearance */

/* Positions setting icon to the bottom right */
#menu div.icon {
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
    color: #F1FAEE;
    -webkit-text-stroke: 2px #1D3557;
    text-shadow: 1px 1px 2px #1D3557;
    transition: all 0.3s ease;
}

#menu-icon {
    position: fixed;
    bottom: 0vh;
    right: 0vh;
    margin: 10px;
    font-size: 5em;
}

#volume-icon {
    position: fixed;
    bottom: 7vh;
    right: .75vh;
    margin: 10px;
    font-size: 4em;
}

.iconHover {
    text-shadow: 1px 1px 2px #457B9D;
    transform: scale(1.2);
}

/* Simulates pressing the button */
.iconClick {
    text-shadow: inset 0px 0px 10px #1D3557;
    transform: scale(1);
    user-select: none;
}

/* A class to hide things */

.hide {
    visibility: hidden;
}

/* Loading Screen */

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1d3557cc;
    z-index: 1002;
}

.loader {
    border: 1em solid rgba(168, 218, 219, 0.5);
    border-top: 1em solid #A8DADC;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}