/* Fontstyles for styling */
@import url('https://fonts.cdnfonts.com/css/ibm-selectric-manifold');
@import url('https://fonts.cdnfonts.com/css/justy-three');
@import url('https://fonts.cdnfonts.com/css/handwritten');

/* Align elements to the center */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    user-select: none;
    background: url(https://images4.alphacoders.com/132/1327987.png) center/cover no-repeat; /*Image Credit: Google*/
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    user-select: none;
}

#content section {
    position: relative;
    text-align: center;
}

#main-title {
    position: relative;
    width: 615px;
    height: 381px;
    margin-bottom: 10%;
    background: url(../img/main-title.png) center/contain no-repeat;
    transition: transform .1s ease-in-out;
    z-index: 1000;
    filter: drop-shadow(1px 1px 3px #49466e);
}

#tutorial-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    color: #495057;
    background-color: #f1faeef5;
    border: solid 3px #CBC0D3;
    padding: 25px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure the tutorial box appears on top of the button */
}

#tutorial-screen h2 {
    font-family: 'IBM Selectric Manifold', sans-serif;
    font-size: 2em;
}
#tutorial-screen p {
    font-family: 'Justy Three', sans-serif;
    font-size: 1.10em;
    text-indent: 5px;
}

#tutorial-exit {
    cursor: pointer;
    position: absolute;
    top: 2.5%;
    right: 5%;
    font-family: 'IBM Selectric Manifold', sans-serif;
    font-size: 2em;
    user-select: none;
}

#questions-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #495057;
    border: solid 2px #4a4e69;
    padding: 15px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure the tutorial box appears on top of the button */
    width: 150%; /* Adjusted the width to 60% of the viewport width */
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px #49466e;
    user-select: none;
    
}

#questions-screen h2 {
    font-family: 'IBM Selectric Manifold', sans-serif;
    font-size: 1.75em;
    margin-bottom: 20px; /* Added margin at the bottom for spacing */
    text-shadow: 1px 1px 2px #998ca3;
}

#questions-screen ul {
    text-align: center; /* Center-align the list items */
    column-width: 300px; /* Split the list into columns */
    max-width: 100%; /* Ensure the list doesn't expand outside the bounds */
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#questions-screen li {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage as needed */
    margin: 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    #questions-screen li {
        flex: 0 0 calc(100% - 20px);
    }
}

#questions-screen button {
    font-size: 1.5em; /* Increased the font size */
    padding: 5px; /* Adjusted padding for better spacing */
    width: 50%; /* Adjusted the width to 50% of the container */
    margin: 5px; /* Added margin for spacing between buttons */
    line-height: 1.5em; /* Adjusted line height for better spacing */
    min-width: 75%; /* Set a minimum width for the button */

}

#results-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    color: #495057;
    border: solid 2px #4a4e69;
    padding: 15px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 3px #49466e;
    user-select: none;
}

#results-screen h2 {
    font-family: 'IBM Selectric Manifold', sans-serif;
    font-size: 1.75em;
    margin-bottom: 20px; /* Added margin at the bottom for spacing */
    text-shadow: 1px 1px 2px #998ca3;
}

#results-screen p {
    font-family: 'Handwritten', sans-serif;
    font-size: 1em;
    margin-left: 1%;
    text-shadow: 1px 1px 2px #998ca3;
}

.align-right {
    float: right;
}

#results-screen img {
    margin: 1%;
    height: auto;
    user-select: none;
    filter: drop-shadow(1px 1px 3px #998ca3);
}

/* Button Appearance */

/* Changes appearance for all buttons */
button {
    cursor: pointer;
    font-family: 'Justy Three', sans-serif;
    font-weight: bold;
    border-radius: 1em;
    color: #495057;
    background-color: #e7e6f7;
    border: solid 2px #4a4e69;
    box-shadow: 1px 2px 5px #49466e;
}

/* Changes appearance of only the play button */
#play {
    width: 355px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 1em;
    background-image: url(../img/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #49466e);
    transition: transform .1s ease-in-out;
    z-index: 1000;
}

/* Changes appearance of only the tutorial button */

#tutorial-button {
    width: 421px;
    height: 125px;
    margin: 0 auto;
    background-image: url(../img/tutorial.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #49466e);
    transition: transform .1s ease-in-out;
    z-index: 1000;
}

/* Changes appearance of button when mouse hovers over it */
.buttonHover {
    text-shadow: 1px 1px 2px #49466e;
    transform: scale(1.2);
}

/* Simulates pressing the button */
.buttonClick {
    text-shadow: inset 0px 0px 10px #49466e;
    transform: scale(1);
    user-select: none;
}

/* Settings Appearance */

/* Positions setting icon to the bottom right */
#menu div.icon {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
}

#menu-icon {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    width: 296px;
    height: 108px;
    background-image: url(../img/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #49466e);
    transition: transform .1s ease-in-out;
    z-index: 1002;
}

#setting-icon {
    position: fixed;
    bottom: 15vh;
    right: 4vh;
    width: 300px;
    height: 98px;
    background-image: url(../img/settings.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #49466e);
    transition: transform .1s ease-in-out;
    z-index: 1001;
}

.iconHover {
    transform: scale(1.2);
}

/* Simulates pressing the button */
.iconClick {
    transform: scale(1);
    user-select: none;
}

/* A class to hide things */

.hide {
    visibility: hidden;
}

/* Loading Screen */

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #6b788fc2;
    z-index: 1005;
}

.loader {
    border: 1em solid #dee2ffcb;
    border-top: 1em solid #FEEAFA;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}