/* Align elements to the center */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://images4.alphacoders.com/132/1327987.png); /*Image Credit: Google*/
    background-size: cover;
    /* background-color: #DEE2FF; */
    overflow: hidden; /* Prevents the radial gradient from overflowing */
}

#content section {
    text-align: center;
    position: relative;
}

#main-title {
    position: relative;
    width: 615px;
    height: 381px;
    bottom: 100px;
    background-image: url(../img/main-title.png);
    background-size: contain;
    transition: transform .1s ease-in-out;
    z-index: 1000;
}

#tutorial-screen {
    position: absolute;
    top: -200px;
    color: #495057;
    background-color: #f1faeef5;
    border: solid 3px #CBC0D3;
    padding: 25px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

#tutorial-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #495057;
    background-color: #e7e6f7;
    border: solid 3px #CBC0D3;
    padding: 25px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure the tutorial box appears on top of the button */
    width: 100%;
}

#tutorial-screen h2 {
    font-family: 'Avocade Bold', sans-serif;
    font-size: 2em;
}
#tutorial-screen p {
    font-family: 'Justy Three', sans-serif;
    font-size: 1.10em;
    text-indent: 5px;
}

#tutorial-exit {
    cursor: pointer;
    position: absolute;
    top: 2.5%;
    right: 5%;
    font-family: 'Avocade Bold', sans-serif;
    font-size: 2em;
    user-select: none;
}

#questions-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #495057;
    border: solid 2px #4a4e69;
    padding: 15px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001; /* Ensure the tutorial box appears on top of the button */
    width: 200%; /* Adjusted the width to 60% of the viewport width */
    background: rgba(255, 255, 255, 0.8)
}

#questions-screen h2 {
    font-family: 'Avocade Bold', sans-serif;
    font-size: 1.5em; /* Increased the font size */
    margin-bottom: 20px; /* Added margin at the bottom for spacing */
}

#questions-screen ul {
    text-align: center; /* Center-align the list items */
    column-width: 300px; /* Split the list into columns */
    max-width: 100%; /* Ensure the list doesn't expand outside the bounds */
    list-style: none;
    padding: 0;
}

#questions-screen button {
    font-size: 1.5em; /* Increased the font size */
    padding: 10px; /* Adjusted padding for better spacing */
    width: 50%; /* Adjusted the width to 50% of the container */
    margin: 10px; /* Added margin for spacing between buttons */
    line-height: 1.5em; /* Adjusted line height for better spacing */
}

#results-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #495057;
    border: solid 2px #4a4e69;
    padding: 15px;
    border-radius: 1em;
    font-size: 1.5em;
    transition: all 0.3s ease;
    z-index: 1001;
    width: 200%; /* Adjusted the width to 60% of the viewport width */
    background: rgba(255, 255, 255, 0.8)
}

/* Button Appearance */

/* Changes appearance for all buttons */
button {
    cursor: pointer;
    font-family: 'Justy Three', sans-serif;
    font-weight: bold;
    border-radius: 1em;
    color: #495057;
    background-color: #e7e6f7;
    border: solid 2px #4a4e69;
    box-shadow: 1px 2px 5px #1D3557;
}

/* Changes appearance of only the play button */
#play {
    width: 250px;
    height: 56px;
    position: fixed;
    bottom: 25vh;
    left: 92vh;
    background-image: url(../img/play.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #1D3557);
    transition: transform .1s ease-in-out;
    z-index: 1000;
}

/* Changes appearance of only the tutorial button */

#tutorial-button {
    width: 295px;
    height: 88px;
    position: fixed;
    bottom: 10vh;
    left: 89.3vh;
    background-image: url(../img/tutorial.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #1D3557);
    transition: transform .1s ease-in-out;
    z-index: 1000;
}

/* Changes appearance of button when mouse hovers over it */
.buttonHover {
    text-shadow: 1px 1px 2px #457B9D;
    transform: scale(1.2);
}

/* Simulates pressing the button */
.buttonClick {
    text-shadow: inset 0px 0px 10px #1D3557;
    transform: scale(1);
    user-select: none;
}

/* Settings Appearance */

/* Positions setting icon to the bottom right */
#menu div.icon {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
}

#menu-icon {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    width: 200px;
    height: 73px;
    background-image: url(../img/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #1D3557);
    transition: transform .1s ease-in-out;
    z-index: 1002;
}

#setting-icon {
    position: fixed;
    bottom: 15vh;
    right: 4vh;
    width: 200px;
    height: 65px;
    background-image: url(../img/settings.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 1px 3px #1D3557);
    transition: transform .1s ease-in-out;
    z-index: 1001;
}

.iconHover {
    text-shadow: 1px 1px 2px #457B9D;
    transform: scale(1.2);
}

/* Simulates pressing the button */
.iconClick {
    text-shadow: inset 0px 0px 10px #1D3557;
    transform: scale(1);
    user-select: none;
}

/* A class to hide things */

.hide {
    visibility: hidden;
}

/* Loading Screen */

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1d3557cc;
    z-index: 1005;
}

.loader {
    border: 1em solid rgba(168, 218, 219, 0.5);
    border-top: 1em solid #A8DADC;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}